@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #333;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}
.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 1000;
  gap: 20px;
}
.profileInfoContainer h1 {
  padding-top: 2%;
}
.portofolioContainer h1 {
  padding-top: 3%;
}
.navBar a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
}
.navBar a:hover {
  color: blue;
}
.profileMainContainer {
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(23, 15, 163, 1) 0%,
    rgba(75, 80, 237, 1) 50%,
    rgba(0, 199, 240, 1) 100%
  );
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 32px;
  padding-top: 32px;
  text-align: center;
  color: white;
}
.profileMainContainer h1 {
  margin-top: 0px;
}
.profileCard {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 20px #007991;
  padding: 40px;
  gap: 20px;
  display: flex;

  justify-items: center;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 72px;
  margin-bottom: 72px;
  align-items: center;
}
.profilePic {
  width: 300px;
  height: 400px;
  border-radius: 15%;
  object-fit: cover;
  border: 3px solid #191919;
}
.mainProfile h1 {
  margin-top: 0;
}
.mainProfile {
  flex: 1;
  font-size: 24px;
  text-align: justify;
}
.profileInfoContainer {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 48px;
  padding-left: 128px;
  padding-right: 128px;
}
.profileInfoContainer h1 {
  margin-bottom: 24px;
}
.profileInfoDescription {
  margin-top: 64px;
  font-size: 20px;
  margin-bottom: 64px;
  justify-content: center;
}
hr {
  border: none;
  height: 4px;
  width: 480px;
  align-items: center;
  margin: 0 auto;
  background-color: #4b50ed;
}
.projectList {
  text-align: left;
}

.portofolioContainer {
  padding: 32px;
  text-align: center;
}

.project-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}

.project {
  display: flex;
  align-items: center; /* Align items vertically centered */
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 15px;
  padding: 20px;
  margin: 24px;
  width: 80%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.project-image {
  width: 150px; /* Set the desired width for images */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional: round the corners of the image */
  margin-right: 20px; /* Space between image and text */
}

.project-text {
  text-align: left; /* Align text to the left */
}
.project.left {
  align-self: flex-start; /* Align to left */
}

.project.right {
  align-self: flex-end; /* Align to right */
}
.footer {
  background-color: rgba(
    0,
    199,
    240,
    1
  ); /* Ganti dengan warna yang diinginkan */
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px; /* Jarak dari konten di atas */
}

.footer h2 {
  margin-bottom: 20px;
}

.social-media-buttons {
  display: flex;
  justify-content: center;
  gap: 15px; /* Jarak antar tombol */
}

.social-button img {
  width: 40px; /* Atur ukuran ikon */
  height: 40px; /* Atur ukuran ikon */
  transition: transform 0.3s;
}

.social-button:hover img {
  transform: scale(1.1); /* Efek zoom saat hover */
}
.floating-button {
  position: fixed;
  bottom: 20px; /* Jarak dari bawah */
  right: 20px; /* Jarak dari kanan */
  background-color: #4b50ed; /* Ganti dengan warna yang diinginkan */
  border-radius: 50%;
  width: 56px; /* Ukuran FAB */
  height: 56px; /* Ukuran FAB */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  text-decoration: none; /* Menghilangkan garis bawah */
  transition: background-color 0.3s, transform 0.3s;
}

.floating-button img {
  width: 24px; /* Atur ukuran ikon */
  height: auto; /* Maintain aspect ratio */
}

.floating-button:hover {
  background-color: #6a7dcf; /* Warna saat hover */
  transform: scale(1.1); /* Efek zoom saat hover */
}
.projectListContainer {
  background-color: #007991;
  width: 480px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
}
.projectListContainer ol li {
  list-style-type: none;
  margin: 12px;
}
