@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #333;
  box-sizing: border-box; /* Ensure padding and margin are included in width/height */
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.header {
  height: 64px;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.navBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 64px;
  background-color: #4b50ed;
  padding: 0 20px;
  position: relative;
  z-index: 1000;
}

.navBar h1 {
  margin: 0;
  color: white;
}

.navbarList {
  display: flex;
  gap: 20px;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navBar ul li {
  list-style-type: none;
}

.navBar ul li a {
  text-decoration: none;
  color: white;
}

.profileMainContainer {
  background: linear-gradient(
    90deg,
    rgba(23, 15, 163, 1) 0%,
    rgba(75, 80, 237, 1) 50%,
    rgba(0, 199, 240, 1) 100%
  );
  padding: 32px 20px;
  text-align: center;
  color: white;
}

.profileCard {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 20px #007991;
  padding: 32px; /* Adjust padding */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
  margin-top: 134px;
  margin-bottom: 134px;
  max-width: 800px;
  width: 90%;
}

.profilePic {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 15%;
  object-fit: cover;
  border: 3px solid #191919;
  margin-right: 20px;
}

.mainProfile {
  flex: 1;
  font-size: 24px;
  text-align: start;
}

.profileInfoContainer,
.portofolioContainer {
  padding: 32px 20px;
  text-align: center;
}

.profileInfoDescription {
  margin-top: 20px;
  font-size: 20px;
}

hr {
  border: none;
  height: 4px;
  width: 80%;
  margin: 20px auto;
  background-color: #4b50ed;
}

.project-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project {
  display: flex;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 15px;
  padding: 20px;
  margin: 12px 0;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.project-image {
  width: 150px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.footer {
  background-color: rgba(0, 199, 240, 1);
  color: white;
  text-align: center;
  padding: 20px 0;
}

.social-media-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-button img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4b50ed;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.floating-button img {
  width: 24px;
  height: auto;
}

@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
    align-items: center;
  }

  .profileCard {
    flex-direction: column;
    padding: 20px;
  }

  .navBar h1 {
    display: none;
  }
  .profilePic {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .mainProfile {
    font-size: 20px;
  }

  .project {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .project-image {
    margin: 24px;
    width: 60%;
    max-width: 150px;
  }
  hr {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .navBar a {
    font-size: 16px;
  }

  .footer {
    font-size: 14px;
  }
}
